ax-platform==0.1.9
black==19.10b0
boto3==1.13.0
opencv-python
Flask==1.1.2
gunicorn==20.0.4
kaggle==1.5.6
matplotlib
numpy==1.17.4
pandas==0.25.1
pillow==8.1.1
scikit-learn==0.21.3
torch==1.4.0
torchvision==0.5.0